.cryptodonate-btn.pink {
    background: #e91e63;
    color: #fff;
}

#cryptodonate-dialog.pink {
    background: #e91e63;
    color: #fff;
}

#cryptodonate-dialog.pink #cryptodonate-credit {
    color: #fff;
}

#cryptodonate-dialog.pink #cryptodonate-action, #cryptodonate-dialog.pink #cryptodonate-addressHolder {
    border-bottom-color: #fff;
}
